@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
.navbar{
    background-color: rgb(243, 197, 197) !important;
}
.navbar li a{
    color: rgb(81, 81, 81);
}
.navbar li a:hover{
    color: rgb(0, 0, 0);
}